extends ../layouts/main.pug

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article of articles
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.notes__item-text(href='#')
              | #{article.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
